
/* Square Grid Styles*/
.squares-wrapper {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.squares-wrapper > .squares {
    width: 1000px;
}

.squares-wrapper > .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: none;
}

.square > .img-wrapper img {
    width: 100%;
    height: 500px;
    object-fit:contain
}

.square > .img-wrapper {
    display: flex;
}

.square > .square-text-wrapper {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}

.square > .square-text-wrapper h1 {
    color: rgb(0, 247, 255);
}